[Unit]
Description=Moose IRC Service
After=moose.service

[Service]
User=moose
ExecStart=/usr/local/bin/moose-irc -c /etc/moose.js %i
WorkingDirectory=/var/lib/moose
Restart=on-failure
RestartSec=1min

[Install]
WantedBy=multi-user.target
