[Unit]
Description=Moose IRC Service
After=moose.service

[Service]
User=moose
ExecStart=/usr/local/bin/moose-irc -c /etc/moose.js %i
# auto creates /var/lib/moose-irc and sets $STATE_DIRECTORY
StateDirectory=moose-irc
WorkingDirectory=~
Restart=on-failure
RestartSec=1min

[Install]
WantedBy=multi-user.target
